body {
  background: url(/empty.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 11px;
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 80px;
  padding: 20px;
}

.App {
  margin-top: 0px;
}
